# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment
.env.keys
.env.local
.env.*.local

# Build artifacts
/.next/
/out/
/build/

# Testing
/coverage

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Supabase
.branches
.temp

# Vercel
.vercel

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
/public/icons/

# System files
.DS_Store
*.pem

# IDE
.idea
.vscode
*.swp
*.swo
